<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <h2>Sign up with email</h2>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <% if resource.errors.any? %>
                    <div class="text-danger">
                        <ul>
                            <% resource.errors.full_messages.each do |m| %>
                                <li><%= m %></li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>

                <div class="form-group">
                    <%= f.label :name %>
                    <%= f.text_field :name, class: 'form-control' %>
                </div>

                <div class="form-group">
                    <%= f.label :email %>
                    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
                </div>

                <div class="form-group">
                    <%= f.label :password %>
                    <% if @minimum_password_length %>
                        <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
                </div>

                <div class="form-group">
                    <%= f.label :password_confirmation %>
                    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
                </div>

                <div class="form-group">
                    <%= f.label :image %>
                    <%= f.file_field :image %>
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <%= f.check_box :notify %>
                            <strong>Email notifications</strong>
                        </label>
                    </div>
                    <p>We will send you notifications by email when the Makerspace opens. We will never sell your email address or use it for marketing!</p>
                </div>

                <div class="actions">
                    <%= f.submit "Sign up", class: 'btn btn-primary' %>
                </div>
            <% end %>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 text-center">
            <br/>&dash;or&dash;<br/><br/>
            <%= link_to image_tag('google-btn.png'), user_omniauth_authorize_path(:google_oauth2) %>
        </div>
    </div>
</div>
